* {
    padding: 0px;
    margin: 0px;
}

@mixin box {
    width: 400px;
    height: 400px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid black;
}


.cajas {
    display: flex;
    flex-direction: row;

    .box1 {
        @include box;
        background-color: red;
    }
    
    .box2 {
        @include box;
        background-color: blue;
    }
}



    @media screen and (max-width: 800px) {
    
        .cajas {
            display: flex;
            flex-direction: column;
        }

        .box1{
            background-color: blue;
            
        }

        .box2{
            background-color: red;
           
        }
      }

